<div class="MainFAQ flex">
  <div class="MainContent flex">
    <p class="MainFAQTitle">Frequently Asked Questions</p>
    <details class="MainFAQBox flex">
      <summary class="MainFAQBoxTitle flex"><span class="flex"> How Do I Get Started? </span><i class="fa-sharp fa-solid fa-caret-down MainFAQBoxIcon"></i></summary>
      <p>To get started, book a $50 consultation call through our website by pressing the “book a consultation call” button.</p>
      <p> We'll discuss your goals, answer your questions, and create a tailored strategy.</p>
    </details>
    <details class="MainFAQBox flex">
      <summary class="MainFAQBoxTitle flex"><span class="flex"> Why Choose We Run The Internet? </span><i class="fa-sharp fa-solid fa-caret-down MainFAQBoxIcon"></i></summary>
      <p>We Run The Internet is an industry leader known for delivering exceptional results across a variety of digital services. Here are a few reasons to choose us:</p>
      <p><strong>Expertise:</strong> Highly skilled professionals in web design, development, blockchain, and marketing.</p>
      <p><strong>Comprehensive Services:</strong> One-stop-shop for all digital needs.</p>
      <p><strong>Innovative Solutions:</strong> Utilizing the latest technologies for cutting-edge projects.</p>
      <p><strong>Proven Track Record:</strong> Successful projects and satisfied clients.</p>
      <p><strong>Customized Approach:</strong> Strategies tailored to your specific needs.</p>
    </details>
    <details class="MainFAQBox flex">
      <summary class="MainFAQBoxTitle flex"><span class="flex"> What Services Do You Offer?</span><i class="fa-sharp fa-solid fa-caret-down MainFAQBoxIcon"></i></summary>
      <p>We Run The Internet offers a diverse array of services designed to help businesses thrive in the digital landscape. Our services include:</p>
      <p><strong>Web Design & Development:</strong> Robust & scalable websites and visually appealing and user-friendly websites.</p>
      <p><strong>Crypto & Meme Coins:</strong> Development and launch of cryptocurrency projects.</p>
      <p><strong>Blockchain Development:</strong> Secure and innovative blockchain solutions.</p>
      <p><strong>Strategic Marketing:</strong> Traffic, engagement, and conversion strategies.</p>
      <p><strong>Business Consulting:</strong> Expert business advice.</p>
      <p><strong>Affiliate Marketing:</strong> Developing and managing affiliate programs.      </p>
    </details>
  </div>
  <MainFooter></MainFooter>
</div>
